<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>swf00</key>
	<dict>
		<key>filename</key>
		<string>swapfile</string>
		<key>lastmod</key>
		<string>2018-11-27 06:15:11.762649</string>
		<key>swapsize</key>
		<integer>299</integer>
	</dict>
	<key>swf01</key>
	<dict>
		<key>filename</key>
		<string>swapfile0</string>
		<key>lastmod</key>
		<string>2018-11-30 06:09:16.252760</string>
		<key>swapsize</key>
		<integer>3167</integer>
	</dict>
	<key>swf02</key>
	<dict>
		<key>filename</key>
		<string>swapfile1</string>
		<key>lastmod</key>
		<string>2018-11-30 06:09:20.858459</string>
		<key>swapsize</key>
		<integer>195</integer>
	</dict>
	<key>swf03</key>
	<dict>
		<key>filename</key>
		<string>swapfile2</string>
		<key>lastmod</key>
		<string>2018-10-23 05:11:35.545738</string>
		<key>swapsize</key>
		<integer>396</integer>
	</dict>
	<key>swf04</key>
	<dict>
		<key>filename</key>
		<string>swapfile3</string>
		<key>lastmod</key>
		<string>2018-10-23 05:11:35.545738</string>
		<key>swapsize</key>
		<integer>396</integer>
	</dict>
	<key>swf05</key>
	<dict>
		<key>filename</key>
		<string>swapfile4</string>
		<key>lastmod</key>
		<string>2018-10-23 05:11:35.545738</string>
		<key>swapsize</key>
		<integer>396</integer>
	</dict>
</dict>
</plist>
